.main-div-comment{
    margin-top: 10px;
    display: flex;
    margin: 20px 10px;
    gap: 10px;
    cursor: pointer;
    flex-direction: row;
    height: 40px;
    align-items: center;
}
.bio{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.comment-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-name{

    font-size: small;
    font-weight: 800;
    font-style: normal;
}
.comment-disc{
    margin-top: -10px;
    font-size: small;
}
.comment-name:hover{
    color: #cdf0f9;
}