.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a{
  color: inherit;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pointer{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label{
  color: #858585;
}
#file-input::file-selector-button{
  /* margin-top : 2.1rem; */
  font-weight: bold;
  color: rgba(31, 111, 230, 0.705);
  padding: 0.5em;
  border: thin solid rgb(97, 141, 223);
  border-radius: 3px;
  background: transparent;
}